<div [ngSwitch]="alert">
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'warning'">warning</div>
  <div *ngSwitchDefault>output2</div>
</div>

<div [ngSwitch]="alert">
<div  *ngSwitchCase="'primary'" class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
  A simple secondary alert—check it out!
</div>
<div  *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
  A simple success alert—check it out!
</div>
<div  *ngSwitchDefault class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
</div>